
@import url('https://fonts.googleapis.com/css?family=Faustina');
body{
  background-color: #FF0900;
  font-weight: 800;
  text-align: center;

}
#slogan{
  font-style: italic;
}

#offers{
font-family: Arial;

}

.headings {
font-weight: bold;
font-family: 'Faustina', serif; 
}
